*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-color: #ecf5fe; */
    
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
.navbar{
    background-color: #ecf5fe;
}
.navbar-nav{
    gap:.5rem;
}
.nav-spacebar{
    height: 66px;
    background-color: transparent;
}
.nav-link{
    color: #6a85a6 !important;
    font-weight: 700;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    transition: all .3s ease;
    padding: 8px 15px;
}
.nav-link:hover{
    color: #0083ff !important;
    font-weight: 700;
    background-color: white;
}
.navbar-brand{
    color: #273f5b !important;
    font-weight: 700;
    font-size: 25px;
}
.dropdown:hover .dropdown-column-menu{
    display: flex !important;
    flex-direction: column;
}
.dropdown-column-menu{
    position: absolute;
    display: none;
    background-color: white;
    border-radius: 10px;
    padding: .5rem; 
    top: 2rem;
    width: 200px !important;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
    flex-direction: column;
}
.dropdown-column-menu .dropdown-item{
    color: #6a85a6;
    padding: .5rem 1.5rem .5rem;
    font-size: 15px;
}
.dropdown-column-menu  li::before{
    content: '';
    display: block;
    height: 26%;
    width: 3px;
    background-color: #d6dfeb;
    left: 15px;
    position: absolute;
    transition: background-color .3s ease;
}
.dropdown-column-menu  li:hover::before{
    background-color: #0083ff  !important;
}
.dropdown-column-menu  li:hover .dropdown-item{ 
    color: #0083ff;
}
.dropdown-column-menu >li{
    list-style: none !important;
    background-color: white; 
}
.dropdown:hover .dropdown-row-menu{
    display: flex !important;
    flex-direction: row;
}

.dropdown-row-menu{
    position: absolute;
    width: 700px !important;
    left: -300px !important;
    min-height: 350px;
    display: none;
    /* background-color: white; */
    border-radius: 10px;
    padding: 0rem; 
    top: 2rem;
    background-color: #f5f5f5;
    box-shadow: 10px 0 50px rgba(37, 49, 63, 0.1);
}
.dropdown-row-menu .dropdown-item{
    max-height: 350px !important;
    padding: 2rem 1.5rem; 
    display: flex;
    flex-direction: column;
    
}
.dropdown-row-menu li{
    list-style: none !important;
    cursor: pointer; 
    width: 50%;
    background-color: #f5f5f5;
}
.dropdown-row-menu li:hover {
    background-color: #dde5ec;
}
.sub-footer{
    background-color: transparent;
    padding-top: 35px;
    text-align: center;
    position: relative;
    margin-top: 120px !important;
}
.back-to-top{
    background-color: #0083ff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 30px;
    color: white;
    box-shadow: 10px 0 30px 0 rgba(0, 130, 215, 0.4);
    position: absolute;
    top: 7px;
}
.sub-footer-container{
    width: 100%;
    background-color: white !important;
    padding: 2rem;
}
.sub-footer-container span{
    color: #6987ab;
    font-size: 14px;
    background-color: white !important;
}
.sub-footer-container label{
    color: #6987ab;
    font-size: 14px;
    background-color: white !important;
}
.footer-container{
    height: 220px;
    background-color: transparent;
    padding: 2.5rem 3rem 1rem 3rem;
}
.footer-link-list li{
 color: #4b5d73 !important;
 list-style: none;
 margin-bottom: 9px;
 cursor: pointer;
 width: auto;
 transition: all .3s ease;
 font-size: 15px;
 
}
.footer-link-list{
    padding-left: 1rem !important;
}
.footer-link-list li:hover a {
    color: #0083ff !important;
    margin-left: 8px;
    transition: margin-left .2s ease;
}

.bi-arrow-right{
    opacity: 0;
    transition: opacity .2s ease;
}
.footer-link-list li:hover .bi-arrow-right {
    color: #0083ff;
    opacity: 1;
    transition: opacity .2s ease;
}
.footer-link-list li a{
    margin-right: 8px;
    text-decoration: none;
    color: #4b5d73 !important;

}
.footer-send-btn{
    margin-top: 2rem;
    border-radius: 30px;
    padding: .5rem 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #01a23c !important;
}
.footer-send-btn:hover{
    box-shadow: 10px 0 30px 0 rgba(1, 162, 60, 0.5)
}
.user-count-right-container{
    background-image: url("./Images/made-cn-bg.png");
    height:500px;
    background-color: #273f5b;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-blend-mode: overlay;
}
.user-count-left-container{
    height:500px;
    background-color: #10141e;
}
.blue-div{
    background-color: #364f6c;
    background-image: url('./Images/dark-blue-bg.png');
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}
.red-div{
    background-color: #364f6c;
    background-image: url('./Images/dark-blue-bg.png');
    /* height: 500px; */
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 0px;
}
.orange-div{
    background-color: #9dbefb;
    background-image: url('./Images/clouds-bg.png');
    /* height: 500px; */
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 0px;

}
.store-links{
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.store-links img{
    transition: padding-bottom .2s ease-in-out;
}
.store-links:hover img{
    padding-bottom: 2px;
}
.store-links:hover {
    box-shadow: 10px 0 15px 14px rgba(18, 25, 33, 0.3);

}
.slide-items{
    text-decoration: none;
    cursor: pointer;
}
.slide-round{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #a1b7d2;
    margin-right: 15px;
    position: relative;
}
.slide-round::before{
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 0;
    border-radius: 0 0 5px 5px;
    top: -72px;
    left: 1px;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.slide-items-active{
    margin-top: 35px ;
    transition: all .4s ease-in-out;
}
.slide-items-active .slide-round-two{
    background-color: #9dbefb;
}
.slide-items-active .slide-round-one{
    background-color: #364f6c;
}
.slide-items-active .slide-round-three{
    background-color: #364f6c;
}
.slide-items-active .slide-round-one::before{
    opacity: 1;
    height: 60px;
    background-color: #364f6c;
}
.slide-items-active .slide-round-two::before{
    opacity: 1;
    height: 60px;
    background-color: #9dbefb;
}
.slide-items-active .slide-round-three::before{
    opacity: 1;
    height: 60px;
    background-color: #364f6c;
}
.active-slide{
    display: flex !important;
}
.questions-section{
    height: 700px;
}
.question-slide-items{
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    background-color: #0083ff;
    opacity: .3;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 100%;
    cursor: pointer;
}
.question-slide-active{
    opacity: 1;
    box-shadow: 10px 0 10px 0 rgba(0, 131, 255, 0.2);

}
.question-slide-active-div{
    /* transition: all .5x ease-in-out; */
    display: flex !important;
    animation: fade-in 2s;
}
.question-list-item{
    cursor: pointer;
}
.question-list-item:hover{
    color:green;
}
.questions-div{
    transition: display 1s ease-in-out;
    /* animation: fade-out 1s; */
    
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.landing-section{
    min-height: 550px;
}
.landing-container{
    background-image: url('./Images/landing-clouds.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ecf5fe;
}
.landing-item:hover .bi-arrow-right{
margin-right: 8px;

}
.landing-item .bi-arrow-right{
    transition: margin .3s ease-in-out;
}
.landing-btn .bi-arrow-right{
    transition: margin .3s ease-in-out;
}
.landing-btn:hover .bi-arrow-right{
margin-left: 8px;
}
.brands-section{
    height: 300px;
}
.brands-list li:hover img{
 filter: grayscale(0) !important;
}
.brands-list li{
    cursor: pointer;
}
.privacy-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center
}
/* privacy section   */
.privacy-container{
    margin: 80px 300px !important;
}
/* about us styles */
.core-value-item-container{
    /* box-shadow: 0px 0px 5px #6a85a6; */
    border-radius: 10px;
    padding: 5px;
    border:1px solid #6987ab;
    transition: all .3s;
}
.core-value-item-container:hover{
    box-shadow: 0px 0px 10px #6a85a6;
}
.core-value-item-container h1{
    font-size: 1.5rem;
    color: #273f5b;
}
/*----------------------Responsive CSS-------------- starts here--------------*/
@media only screen and (min-width: 2000px) {
    /* #TMSImage{
        height: 450px !important;
    } */
   
}
@media only screen and (min-width: 1650px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ecf5fe;
    }
    .landing-section{
        width: 1440px !important;
    }
    .blue-div{
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
    .blue-div .col-lg-6{
        width: 720px !important;
    }
    .red-div{
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
    .red-div .col-lg-6{
        width: 720px !important;
    }
    .orange-div{
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
    .orange-div .col-lg-6{
        width: 720px !important;
    }
    .user-count-section{
        width: 1440px !important;
    }
    .footer-container{
        width: 1440px !important;
    }
    .privacy-container{
        width: 950px !important;
        /* margin: 100px 600px !important; */
    }
    nav{
        width: 100% !important;
    }
    .container-fluid{
        width: 1440px !important;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        flex-direction: column;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        flex-direction: column;
        width: 100% !important;
    }
    .copyright-container{
        width: 100% !important;
    }
    .copyright-container .col-lg-12{
        padding-left: 0px;
        padding-right: 0px;
    }
    .fixed-top {
        right: initial !important;
        left: initial !important;
        /* width: 1463px !important; */
    }
    .core-values-section .row{
        background-color: white !important;
        width: 1440px !important;
    }
    .landing-container{
        width: 1440px !important;
    }
}
@media only screen and (min-width: 992px) and (max-width:1200px) {

    /* landing section */
    .landing-section .col-lg-5{
        padding: 50px 60px !important;
    }
    .landing-section .col-lg-7 h1{
        font-size: 2rem !important;
    }
    .landing-section .col-lg-7 p{
        font-size: 16px !important;
    }

    /* clickable slides */
    .blue-div{
        height: 550px !important;
    }
    .red-div{
        height: 550px !important;
    }
    .orange-div{
        height: 550px !important;
    }
    /* question section */
    .questions-section img{
        width: 90% !important;
    }
    .questions-div ul{
        padding: 0px !important;
    }
    /* privacy section   */
    .privacy-container{
        margin: 40px 200px !important;
    }
    .about-us-landing-container h1{
        font-size: 2.5rem !important;
        top:50px !important;
    }
    .about-us-landing-container hr{
        top:150px !important;

    }
    .about-us-landing-container h5{
        font-size: 1.5rem !important;
        top:200px !important;
        max-width: 300px !important;
    }
    
}
@media only screen and (min-width: 768px)and (max-width:992px) {
     /* landing section */
     .landing-section .col-lg-7 {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column;
     }
     .landing-section .col-lg-7 h1{
        text-align: center !important;
    }
    .landing-section .col-lg-7 p{
        text-align: center !important;
    }
    .landing-section .col-lg-5{
        padding: 50px 12rem !important;
    }
    /* clickable slides */
    .clickable-slides-content{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .clickable-slides-content p{
        text-align: center !important;
    }
    #TMSImage{
        margin-top: 10px !important;
    }
    /* user-count section  */
    /* .user-count-section .user-count-right-container{
        background-image: none !important;

    } */
    .user-count-left-container{
        height: 400px !important;
    }
    .user-count-right-container{
        height: 0px !important;
    }
    .user-count-left-container h2{
        text-align: center !important;
    }
    .user-count-row{
        gap: 0% !important;
    }
    /* questions section  */
    .questions-section{
        height: auto !important;
    }
    .questions-section img{
        width: 40% !important;
    }
    .question-slide-active-div .col-lg-4{
        display: flex;
        justify-content: center;
    }
    /* footer  */
    .footer-container{
        height: auto !important;
        gap: 22px !important;
    }
    .footer-container .col-md-0{
        display: none !important;
    }
    .footer-container .btn-success{
        width: 100% !important;
    }
    /* privacy section   */
    .privacy-container{
        margin: 40px 140px !important;
    }
    .about-us-landing-container h1{
        font-size: 2rem !important;
        top:50px !important;
    }
    .about-us-landing-container hr{
        top:130px !important;

    }
    .about-us-landing-container h5{
        font-size: 1.2rem !important;
        top:180px !important;
        max-width: 250px !important;
    }
}
@media only screen and (min-width: 600px)and (max-width:768px) {
    /* landing section */
    .landing-section .col-lg-7 {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column;
     }
     .landing-section .col-lg-7 h1{
        text-align: center !important;
    }
    .landing-section .col-lg-7 p{
        text-align: center !important;
    }
    .landing-section .col-lg-5{
        padding: 50px 8rem !important;
    }
    /* clickable slides */
    .clickable-slides-content{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .clickable-slides-content h4{
        text-align: center !important;
    }
    .clickable-slides-content p{
        text-align: center !important;
    }
    #TMSImage{
        margin-top: 10px !important;
    }
    /* brands section  */
    .brands-section{
        height: auto !important;
    }
    /* user-count section  */
    .user-count-left-container{
        height: 350px !important;
        padding: 1rem 2rem !important;
    }
    .user-count-right-container{
        height: 0px !important;
    }
    .user-count-left-container h2{
        text-align: center !important;
    }
    .user-count-row{
        gap: 0% !important;
    }
    #downloadsDiv h2{
        width: 55% !important;
    }
    #downloadsDiv h5{
        width: 45% !important;
    }
    #employeesDiv h2{
        width: 55% !important;
    }
    #employeesDiv h5{
        width: 45% !important;
    }
    /* questions section  */
    .questions-section{
        height: auto !important;
        padding: 10px 4rem !important;
    }
    .questions-section img{
        width: 40% !important;
    }
    .question-slide-active-div .col-lg-4{
        display: flex;
        justify-content: center;
    }
    .question-slide-items{
        margin-right: 0px !important;
        font-size: 20px !important;
    }
    .question-slide-items-container{
        margin-top: 40px !important;
    }
    .question-list-container{
        flex-direction: column;
    }
    .question-list-item-container{
        width: 100% !important;
    }
    .question-list-item-container ul{
        padding: 0px !important;
        margin: 0px !important;
    }
    .question-list-item-container ul li{
        margin-bottom: 5px;
    }
    /* footer  */
    .footer-container{
        height: auto !important;
        gap: 22px !important;
    }
    .footer-container .col-md-0{
        display: none !important;
    }
    .footer-container .btn-success{
        width: 50% !important;
    }
     /* privacy section   */
     .privacy-container{
        margin: 35px 60px !important;
    }
    /* abouts us styles  */
    .landing-container h1{
        font-size: 2rem !important;
        color: #273f5b;
    }
    .landing-container h5{
        font-size: 1rem !important;
        color: #273f5b;
        line-height: 25px !important;
    }
    .landing-container img{
        height: 400px !important;
    }
    .about-us-landing-container h1{
        font-size: 2rem !important;
        top:50px !important;
    }
    .about-us-landing-container hr{
        top:130px !important;

    }
    .about-us-landing-container h5{
        font-size: 1.2rem !important;
        top:180px !important;
        max-width: 250px !important;
    }
}
@media only screen and (min-width: 425px)and (max-width:600px) {
    /* landing section */
    .landing-section .col-lg-7 {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column;
        padding: 50px 60px !important;
     }
     .landing-section .col-lg-7 h1{
        text-align: center !important;
        font-size: 2rem !important;
    }
    .landing-section .col-lg-7 p{
        text-align: center !important;
        font-size: 18px !important;
    }
    .landing-section .col-lg-5{
        padding: 50px 4rem !important;
    }
    /* clickable slides */
    .clickable-slides-content{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .clickable-slides-content h4{
        text-align: center !important;
    }
    .clickable-slides-content p{
        text-align: center !important;
    }
    #TMSImage{
        margin-top: 10px !important;
    }
    /* brands section  */
    .brands-section{
        height: auto !important;
    }
    /* user-count section  */
    .user-count-left-container{
        height: 350px !important;
        padding: 1rem 0rem !important;
    }
    .user-count-right-container{
        height: 0px !important;
    }
    .user-count-left-container h2{
        text-align: center !important;
    }
    .user-count-row{
        gap: 0% !important;
    }
    #acitveUsersDiv h2{
        font-size: 20px !important;
    }
    #acitveUsersDiv h5{
        font-size: 16px !important;
    }
    #downloadsDiv h2{
        width: 55% !important;
        font-size: 20px !important;
    }
    #downloadsDiv h5{
        width: 45% !important;
        font-size: 16px !important;
    }
    #businessYearsDiv h2{
        font-size: 20px !important;
    }
    #businessYearsDiv h5{
        font-size: 16px !important;
    }
    #employeesDiv h2{
        width: 55% !important;
        font-size: 20px !important;
    }
    #employeesDiv h5{
        width: 45% !important;
        font-size: 16px !important;
    }
    /* questions section  */
    .questions-section{
        height: auto !important;
        padding: 10px 1rem !important;
    }
    .questions-section img{
        width: 40% !important;
    }
    .question-slide-active-div .col-lg-4{
        display: flex;
        justify-content: center;
    }
    .question-slide-items{
        margin-right: 0px !important;
        font-size: 20px !important;
    }
    .question-slide-items-container{
        margin-top: 40px !important;
    }
    .question-list-container{
        flex-direction: column;
    }
    .question-list-item-container{
        width: 100% !important;
    }
    .question-list-item-container ul{
        padding: 0px !important;
        margin: 0px !important;
    }
    .question-list-item-container ul li{
        margin-bottom: 5px;
    }
    /* footer  */
    .footer-container{
        height: auto !important;
        gap: 22px !important;
    }
    .footer-container .col-md-0{
        display: none !important;
    }
    .footer-container .btn-success{
        width: 50% !important;
        font-size: 13px !important;
        padding:10px !important;
    }
     /* privacy section   */
     .privacy-container{
        margin: 35px 60px !important;
    }
    /* abouts us styles  */
    .landing-container h1{
        font-size: 2rem !important;
        color: #273f5b;
    }
    .landing-container h5{
        font-size: 1rem !important;
        color: #273f5b;
        line-height: 25px !important;
    }
    .about-us-landing-container h1{
        font-size: 1.2rem !important;
        top:30px !important;
        left: 30px !important;
    }
    .about-us-landing-container hr{
        top:80px !important;
        left:30px !important;
    }
    .about-us-landing-container h5{
        font-size: 1rem !important;
        top:120px !important;
        max-width: 150px !important;
        left: 30px !important;
    }
    .about-us-landing-container img{
        height: 400px !important;
    }
}
@media only screen and (min-width: 300px)and (max-width:425px) {
    /* landing section */
    .landing-section .col-lg-7 {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column;
        padding: 50px 60px !important;
     }
     .landing-section .col-lg-7 h1{
        text-align: center !important;
        font-size: 2rem !important;
    }
    .landing-section .col-lg-7 p{
        text-align: center !important;
        font-size: 18px !important;
    }
    .landing-section .col-lg-5{
        padding: 50px 2rem !important;
    }
    /* clickable slides */
    .clickable-slides-content{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .clickable-slides-content h4{
        text-align: center !important;
    }
    .clickable-slides-content p{
        text-align: center !important;
    }
    #TMSImage{
        margin-top: 10px !important;
    }
    /* brands section  */
    .brands-section{
        height: auto !important;
    }
    /* user-count section  */
    .user-count-left-container{
        height: 350px !important;
        padding: 1rem 0rem !important;
    }
    .user-count-right-container{
        height: 0px !important;
    }
    .user-count-left-container h2{
        text-align: center !important;
    }
    .user-count-row{
        gap: 0% !important;
    }
    #acitveUsersDiv h2{
        width: 55% !important;
        font-size: 20px !important;
    }
    #acitveUsersDiv h5{
        width: 45% !important;
        font-size: 16px !important;
    }
    #downloadsDiv h2{
        width: 48% !important;
        font-size: 20px !important;
    }
    #downloadsDiv h5{
        width: 52% !important;
        font-size: 16px !important;
    }
    #businessYearsDiv h2{
        width: 55% !important;
        font-size: 20px !important;
    }
    #businessYearsDiv h5{
        width: 45% !important;
        font-size: 16px !important;
    }
    #employeesDiv h2{
        width: 48% !important;
        font-size: 20px !important;
    }
    #employeesDiv h5{
        width: 52% !important;
        font-size: 16px !important;
    }
    /* questions section  */
    .questions-section{
        height: auto !important;
        padding: 10px 1rem !important;
    }
    .questions-section img{
        width: 40% !important;
    }
    .question-slide-active-div .col-lg-4{
        display: flex;
        justify-content: center;
    }
    .question-slide-items{
        margin-right: 0px !important;
        font-size: 20px !important;
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
    }
    .question-slide-items-container{
        margin-top: 40px !important;
    }
    .question-list-container{
        flex-direction: column;
    }
    .question-list-item-container{
        width: 100% !important;
    }
    .question-list-item-container ul{
        padding: 0px !important;
        margin: 0px !important;
    }
    .question-list-item-container ul li{
        margin-bottom: 5px;
    }
    /* footer  */
    .footer-container{
        height: auto !important;
        gap: 22px !important;
    }
    .footer-container .col-md-0{
        display: none !important;
    }
    .footer-container .btn-success{
        width: 50% !important;
        font-size: 13px !important;
        padding:10px !important;
    }
      /* privacy section   */
      .privacy-container{
        margin: 35px 10px !important;
    }
    /* abouts us styles  */
    .landing-container h1{
        font-size: 2rem !important;
        color: #273f5b;
    }
    .landing-container h5{
        font-size: 1rem !important;
        color: #273f5b;
        line-height: 25px !important;
    }
    .core-value-item-container{
        margin-bottom: 2rem !important;
        box-shadow: 0px 0px 5px #6a85a6;
    }
    .core-value-left-container{
        /* margin-top: 1rem !important; */
        margin-bottom: 0.5rem !important;
    }
    .core-value-right-container{
        margin-top: 0.5rem !important;
        /* margin-bottom: 1rem !important; */
    }
    .landing-container img{
        height: 350px !important;
    }
    .about-us-landing-container h1{
        font-size: 1.2rem !important;
        top:30px !important;
        left: 30px !important;
    }
    .about-us-landing-container hr{
        top:80px !important;
        left:30px !important;
    }
    .about-us-landing-container h5{
        font-size: 1rem !important;
        top:120px !important;
        max-width: 150px !important;
        left: 30px !important;
    }
    .about-us-landing-container img{
        height: 400px !important;
    }
}