*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-color: #ecf5fe; */
    
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
.navbar{
    background-color: #ecf5fe;
}
.navbar-nav{
    gap:.5rem;
}
.nav-spacebar{
    height: 66px;
    background-color: transparent;
}
.nav-link{
    color: #6a85a6 !important;
    font-weight: 700;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    transition: all .3s ease;
    padding: 8px 15px;
}
.nav-link:hover{
    color: #0083ff !important;
    font-weight: 700;
    background-color: white;
}
.nav-link-ktms{
    color: white !important;
    font-weight: 700;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    transition: all .3s ease;
    padding: 8px 15px;
}
.nav-link-ktms:hover{
    color: #0083ff !important;
    font-weight: 700;
    background-color: #ecf4fc !important;
}
.navbar-brand{
    color: #273f5b !important;
    font-weight: 700;
    font-size: 25px;
}
.dropdown:hover .dropdown-column-menu{
    display: flex !important;
    flex-direction: column;
}
.dropdown-column-menu{
    position: absolute;
    display: none;
    background-color: white;
    border-radius: 10px;
    padding: .5rem; 
    top: 2rem;
    width: 200px !important;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
    flex-direction: column;
}
.dropdown-column-menu .dropdown-item{
    color: #6a85a6;
    padding: .5rem 1.5rem .5rem;
    font-size: 15px;
}
.dropdown-column-menu  li::before{
    content: '';
    display: block;
    height: 26%;
    width: 3px;
    background-color: #d6dfeb;
    left: 15px;
    position: absolute;
    transition: background-color .3s ease;
}
.dropdown-column-menu  li:hover::before{
    background-color: #0083ff  !important;
}
.dropdown-column-menu  li:hover .dropdown-item{ 
    color: #0083ff;
}
.dropdown-column-menu >li{
    list-style: none !important;
    background-color: white; 
}
.dropdown:hover .dropdown-row-menu{
    display: flex !important;
    flex-direction: row;
}

.dropdown-row-menu{
    position: absolute;
    width: 700px !important;
    left: -300px !important;
    min-height: 350px;
    display: none;
    /* background-color: white; */
    border-radius: 10px;
    padding: 0rem; 
    top: 2rem;
    background-color: #f5f5f5;
    box-shadow: 10px 0 50px rgba(37, 49, 63, 0.1);
}
.dropdown-row-menu .dropdown-item{
    max-height: 350px !important;
    padding: 2rem 1.5rem; 
    display: flex;
    flex-direction: column;
    
}
.dropdown-row-menu li{
    list-style: none !important;
    cursor: pointer; 
    width: 50%;
    background-color: #f5f5f5;
}
.dropdown-row-menu li:hover {
    background-color: #dde5ec;
}
.features-list-container{
    list-style: none;

}
.features-list-item{
    background-color: white;
    margin: 10px 0px;
    padding: 5px 0px;
    border: 1px solid #c4d1e0;
    color: #273f5b;
    transition: all 0.1s;
    text-align: start;

}
.features-list-item:hover{
    box-shadow: 0px 11px 20px -6px rgba(0, 0, 0, 0.3);
}
.features-list-item-icon{
    font-size: 40px;
}
.features-list-item h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.features-list-item h5{
    font-size: 0.75rem;
}
.benefits-items h3{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}
.benefits-items h5{
    color: #fff;
    font-size: 1rem;
}
.benefits-container{
    background-color: #364f6c;
      background-image: url(../Images/dark-blue-bg.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
    padding-top: 95px;
    padding-bottom: 95px;
    
}
.benefits-container::before{
    height: 170px !important;
    background: linear-gradient(to right bottom, #fff 49.5%, transparent 50%) !important;
    top: -1px !important;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    max-width: 100%;
    left: 0;
    
}
.benefits-container::after{
    height: 170px !important;
    background: linear-gradient(to right bottom, transparent 49.5%, #fff 50%);
    bottom: -1px !important;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    max-width: 100%;
    left: 0;
}
.contact-us-input{
    border: 1px groove #c4d1e0;
    padding: 5px;
    outline: none;
}
::placeholder {
    color: #273f5b;
  }
  .footer-send-btn{
    margin-top: 2rem;
    border-radius: 30px;
    padding: .5rem 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #01a23c !important;
}
.footer-send-btn:hover{
    box-shadow: 10px 0 30px 0 rgba(1, 162, 60, 0.5)
}
@media only screen and (min-width: 768px)and (max-width:992px){
    /* feature section styles  */
    .feature-container h1{
        font-size: 1.5rem !important;
    }
    .feature-container h5{
        font-size: 0.75rem !important;
        max-width: 200px !important;
    }
    .feature-container i{
        font-size: 35px  !important;
        padding: 7px !important;
    }
    /* landing section styles  */
    .landing-container{
        margin-left: 0rem !important;
        margin-right: 0rem !important;

    }
    .landing-left-container h1{
        font-size: 2.5rem !important;
    }
    .landing-left-container h5{
        font-size: 1rem !important;
        line-height: 25px;
    }
    .landing-left-container img{
        height: 38px;
    }
    .parent-navbar{
        display: none !important;
    }
}
@media only screen and (min-width: 600px)and (max-width:768px){
     /* feature section styles  */
    .feature-container h1{
        font-size: 1.2rem !important;
    }
    .feature-container h5{
        font-size: 0.75rem !important;
        max-width: 140px !important;
    }
    .feature-container i{
        font-size: 35px  !important;
        padding: 6px !important;
    }
    /* landing section styles  */
    .landing-container{
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        padding-right:1.5rem !important;
        padding-left: 1.5rem !important;
    }
    .landing-left-container h1{
        font-size: 1.5rem !important;
    }
    .landing-left-container h5{
        font-size: 0.75rem !important;
        line-height: 18px;
    }
    .landing-left-container img{
        height: 30px;
    }
    .parent-navbar{
        display: none !important;
    }
}
@media only screen and (min-width: 425px)and (max-width:600px){
    /* feature section styles  */
    .feature-container h1{
        font-size: 25px !important;
    }
    .feature-container h5{
        font-size:16px !important;
        /* max-width: 400px !important; */
    }
    .feature-container i{
        font-size: 30px  !important;
        padding: 5px !important;
    }
    .feature-container{
        margin-right: 2rem !important;
        margin-left: 1.5rem !important;
    }
    .feature-container .col-12{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    /* landing section styles  */
    .landing-container{
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        padding-right:1.5rem !important;
        padding-left: 1.5rem !important;
    }
    .landing-left-container h1{
        font-size: 2rem !important;
    }
    .landing-left-container h5{
        font-size: 1rem !important;
        line-height: 25px;
    }
    .landing-left-container img{
        margin-right: 1px  !important;
        height: 40px;
    }
    .parent-navbar{
        display: none !important;
    }
}
@media only screen and (min-width: 300px)and (max-width:425px) {
    /* feature section styles  */
    .feature-container{
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
    .feature-container i{
        font-size: 35px  !important;
        padding: 5px !important;
    }
    .feature-container h1{
        font-size: 20px !important;
    }
    .feature-container h5{
        font-size: 14px !important;
        /* max-width: 100px !important; */
    }
    .feature-container .col-12{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .feature-right{
        margin-top: 0rem  !important;
    }
     /* landing section styles  */
     .landing-container{
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        padding-right:0.4rem !important;
        padding-left: 0.4rem !important;
    }
    .landing-left-container h1{
        font-size: 30px !important;
    }
    .landing-left-container h5{
        font-size: 15px !important;
        /* line-height: 10px; */
    }
    .landing-left-container img{
        margin-right: 5px  !important;
        height: 35px;
    }
    .parent-navbar{
        display: none !important;
    }
}
@media only screen and (min-width: 1650px) {
    .feature-section .row{
        width: 1440px !important;
    }
}